openapi: 3.1.0

info:
  title: Configuration models
  version: ^0.0.0

components:
  schemas:
    Config.Config:
      description: >-
        A container for all models that are part of the configuration.
      type: object
      properties:
        ports:
          description: >-
            The ports that will be configured on the traffic generator.
          type: array
          items:
            $ref: '../port/port.yaml#/components/schemas/Port.Port'
        devices:
          description: >-
            The emulated protocol devices that will be configured on the traffic generator.
          type: array
          items:
            $ref: '../device/device.yaml#/components/schemas/Device.Device'
        flows:
          description: >-
            The flows that will be configured on the traffic generator.
          type: array
          items:
            $ref: '../flow/flow.yaml#/components/schemas/Flow.Flow'
        layer1:
          description: >-
            The layer1 settings that will be configured on the traffic generator.
          type: array
          items:
            $ref: '../layer1/layer1.yaml#/components/schemas/Layer1.Layer1'
        captures:
          description: >-
            The captures that will be configured on the traffic generator.
          type: array
          items:
            $ref: '../capture/capture.yaml#/components/schemas/Capture.Capture'
        options:
          $ref: '#/components/schemas/Config.Options'
    
    Config.Options:
      description: >-
        Global configuration options.
      type: object
      properties:
        port_options:
          $ref: '../port/port.yaml#/components/schemas/Port.Options'


