components:
  schemas:
    Config:
      description: |-
        A container for all models that are part of the configuration.
      type: object
      properties:
        ports:
          description: |-
            The ports that will be configured on the traffic generator.
          type: array
          items:
            $ref: '../port/port.yaml#/components/schemas/Port'
          x-field-uid: 1
        lags:
          description: |-
            The LAGs that will be configured on the traffic generator.
          type: array
          items:
            $ref: '../lag/lag.yaml#/components/schemas/Lag'
          x-field-uid: 2
        layer1:
          description: |-
            The layer1 settings that will be configured on the traffic generator.
            Since layer1 settings usually vary across variety of test ports, these
            most likely won't be portable.
          type: array
          items:
            $ref: '../layer1/layer1.yaml#/components/schemas/Layer1'
          x-field-uid: 3
        captures:
          description: |-
            The capture settings that will be configured on the traffic generator.
          type: array
          items:
            $ref: '../capture/capture.yaml#/components/schemas/Capture'
          x-field-uid: 4
        devices:
          description: |-
            The emulated devices that will be configured on the traffic generator.
            Each device contains configurations for network interfaces and 
            protocols running on top of those interfaces.
          type: array
          items:
            $ref: '../device/device.yaml#/components/schemas/Device'
          x-field-uid: 5
        flows:
          description: |-
            The flows that will be configured on the traffic generator.
          type: array
          items:
            $ref: '../flow/flow.yaml#/components/schemas/Flow'
          x-field-uid: 6
        events:
          $ref: '../event/event.yaml#/components/schemas/Event'
          x-field-uid: 7
        options:
          $ref: '#/components/schemas/Config.Options'
          x-field-uid: 8
        lldp:
          description: |-
            LLDP protocol that will be configured on traffic generator.
          type: array
          items:
            $ref: '../lldp/lldp.yaml#/components/schemas/Lldp'
          x-field-uid: 9
        stateful_flows:
          $ref: '../flow/statefulflow.yaml#/components/schemas/StatefulFlow'
          x-field-uid: 10
        egress_only_tracking:
          description: |-
            Container for specification of desired tracking, based on certain offset and length of bits 
            for received packets on specified receive ports. 
            It enables the user to retrieve information based on number of unique packets 
            received for each unique value in the bits being tracked from the beginning of the test. 
          type: array
          items:
            $ref: '../egress/egressonlytracking.yaml#/components/schemas/EgressOnlyTracking'
          x-field-uid: 11
        metadata:
          $ref: '#/components/schemas/Config.Metadata'
          x-field-uid: 12
    Config.Options:
      description: |-
        Global configuration options.
      type: object
      properties:
        port_options:
          $ref: '../port/port.yaml#/components/schemas/Port.Options'
          x-field-uid: 1
        protocol_options:
          $ref: '../device/device.yaml#/components/schemas/Protocol.Options'
          x-field-uid: 2
        per_port_options:
          type: array
          items:
            $ref: '../port/perportoptions.yaml#/components/schemas/PerPort.Options'
          x-field-uid: 3
    Config.Metadata:
      description: |-
        This optional container can be used to specify additional information about the test and specific
        configuration being applied via the set_config api.
        It can be used to correlate logs generated by the test tool to particular test being run by being logged 
        as part of the information recorded in the test tool. 
        e.g. In a test harness, for every test and sub-test the test name and sub-test name can be provided
        for every set_config done as part of the test . Or the timestamp of the set_config api call on the 
        client can be recorded as a tag-value pair.
      type: object
      properties:
        description:
          description: |
            A generic field which can be used to provide a human readable string describing the test being run.
            e.g. the test or sub-test name 
          type: string
          x-field-uid: 1
        tag_value_pairs:           
          description: |
            The list of generic tag value pairs which can be used to add generic metadata about the set_config or test being run.
            e.g. {"sub-test","sub-test-name"} or {}"apply-time","The time in UTC at which the set_config was applied on the client"}             
          type: array
          items:
            $ref: '#/components/schemas/Config.TagValuePair'
          x-field-uid: 2
    Config.TagValuePair:
      description: |-
        One tag value pair being provided in the metadata as part of one set_config .
      type: object
      properties:
        tag:
          description: |
            A generic tag field which can be used to distinguish multiple information being supplied via the metadata.
            e.g. "sub-test" or "timestamp" 
          type: string
          x-field-uid: 1
        value:
          description: |
            The specific value associated with the tag provided. 
            e.g. current sub-test name or timestamp when the set_config was done from the test.            
          type: string
          x-field-uid: 2